# Environment variables
.env
.env.*
!.env.example

# Logs
log/*
!log/.gitkeep
*.log

# Dependencies
node_modules/

# Test results and reports
test-results/
playwright-report/
allure-results/
allure-report/
my-report/ortoni-data/
my-report/ortoni-data-history.sqlite
my-report/trace/
!my-report/index.html
results.xml
.obser_test_details


# Docker volumes
prometheus_data/
grafana_data/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp