
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
log/
local.log
*.obs*
allure-report/
allure-results/
.env
browserstack.err
browser*.json
*.log
playwright-browserstack*.json  
